.app { 

    width: 300px; 
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.75) 0 0 1px rgba(0, 0, 0, 0.15);
    padding: 15px;
    
    .controls {
        display: flex;

        button {
            flex-grow: 1;
            margin: 0 5px 4px;
            padding: 5px 0;
            border-radius: 5px;
            box-shadow: 0 4px rgba(0, 0, 0, 0.75);
            border: 0;
            outline: 0;
            font-size: 16px;
            color: white;

        }

        .start {

        }

        .stop {

        }

        .reset {
                
        }
        
    
    }

    .display {

    }
}